.navigation {
  display: flex;
  background-color: orange;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 0 120px;
  top: 0;
  z-index: 100;
}
.navigation ul li {
  float: left;
  list-style-type: none;
}
.navigation ul li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  padding: 0 24px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 5px solid rgba(0, 0, 0, 0);
  transition: 0.3s;
}
.navigation ul li a:hover {
  background-color: rgba(249, 178, 47, 0.897);
  border-bottom: 5px solid black;
}
